<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">School System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddCourse">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Course Data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddStudent">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Students
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddInstructor">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Instructors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StudentCourse">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Student Course
            </NavLink>
        </div>
    </nav>
</div>

